{% schema %}
{
  "name": "Hotspot Image",
  "settings": [
    {
    "type": "image_picker",
    "id": "image",
    "label": "t:sections.image-with-text.settings.image.label"
  }
  ],
  "presets": [
  {
    "name": "Hotspot Image",
    "category": "Image with hotspot"
  }
]
}
{% endschema %}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<div>
  <img
    class="hotspot-img"
    src="{{ section.settings.image | img_url: 'width:2000, height:2841'}}"
    alt="{{ section.settings.image.alt }}"
    usemap="#image-map"
  >

  <map name="image-map">
    <area
      target="_blank"
      alt="Classic Button Down"
      title="Classic Button Down"
      href="https://conigliopalmbeach.myshopify.com/products/b0001"
      coords="301,959,222,1037,183,1371,167,1392,186,1450,192,1689,165,1731,234,1797,250,1851,231,1956,257,1994,315,1993,347,1936,330,1839,303,1398,344,1011"
      shape="poly"
    >
  </map>
</div>

<script>
  /*
  * rwdImageMaps jQuery plugin v1.5
  *
  * Allows image maps to be used in a responsive design by recalculating the area coordinates to match the actual image size on load and window.resize
  *
  * Copyright (c) 2013 Matt Stow
  * https://github.com/stowball/jQuery-rwdImageMaps
  * http://mattstow.com
  * Licensed under the MIT license
  */
  ;(function(a){a.fn.rwdImageMaps=function(){var c=this;var b=function(){c.each(function(){if(typeof(a(this).attr("usemap"))=="undefined"){return}var e=this,d=a(e);a("<img />").load(function(){var g="width",m="height",n=d.attr(g),j=d.attr(m);if(!n||!j){var o=new Image();o.src=d.attr("src");if(!n){n=o.width}if(!j){j=o.height}}var f=d.width()/100,k=d.height()/100,i=d.attr("usemap").replace("#",""),l="coords";a('map[name="'+i+'"]').find("area").each(function(){var r=a(this);if(!r.data(l)){r.data(l,r.attr(l))}var q=r.data(l).split(","),p=new Array(q.length);for(var h=0;h<p.length;++h){if(h%2===0){p[h]=parseInt(((q[h]/n)*100)*f)}else{p[h]=parseInt(((q[h]/j)*100)*k)}}r.attr(l,p.toString())})}).attr("src",d.attr("src"))})};a(window).resize(b).trigger("resize");return this}})(jQuery);
</script>

<script>
  $(document).ready(function(e) {
  	$('img[usemap]').rwdImageMaps();

  	$('area').on('click', function() {
  		alert($(this).attr('alt') + ' clicked');
  	});
  });
</script>
