{% schema %}
{
  "name": "Hotspot Image",
  "settings": [
    {
      "type": "text",
      "id": "image",
      "label": "Image URL"
    },
    {
      "type": "color",
      "id": "hotspot_color",
      "label": "Hotspot Color",
      "default": "#F47722"
    },
    {
      "type": "color",
      "id": "hotspot_inner",
      "label": "Hotspot Inner Color",
      "default": "#FFF"
    },
    {
      "type": "range",
      "id": "width",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "Width",
      "default": 95
    }
  ],
  "blocks": [
    {
      "type": "hotspot",
      "name": "Hotspot",
      "settings": [
        {
      "type": "product",
      "id": "product",
      "label": "Select a product",
      "info": "Choose a product to display in this section."
    },
        {
  "type": "text",
  "id": "tooltip_text",
  "label": "Hover Text",
  "default": "Hover Text Here"
},
        {
          "type": "range",
          "id": "top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Top",
          "default": 50
        },
        {
          "type": "range",
          "id": "left",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Left",
          "default": 50
        }
      ]
    },
    {
      "type": "link",
      "name": "Link",
      "settings": [
        {
      "type": "url",
      "id": "hotspot-url",
      "label": "Hotspot Link"
      },
        {
  "type": "text",
  "id": "tooltip_text",
  "label": "Hover Text",
  "default": "Hover Text Here"
},
        {
          "type": "range",
          "id": "top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Top",
          "default": 50
        },
        {
          "type": "range",
          "id": "left",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Left",
          "default": 50
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with Hotspots",
      "category": "Image with hotspots"
    }
  ]
}
{% endschema %}

{%- style -%}
  /* General styling for the section based on its ID */
  .section-{{ section.id }}-width {
    width: 100%;
    padding: {{ 100 | minus: section.settings.width | times: 1.5 }}px; /* Dynamically calculate padding based on section width */
    margin: auto; /* Center the section */
  }

  /* Adjust the section width for larger screens */
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-width {
      width: {{ section.settings.width }}%; /* Use the width setting from the section settings */
      margin: auto; /* Ensure it remains centered */
    }
  }

  /* Wrapper for hotspots to position them relative to the image */
  .hotspots--wrapper {
    position: relative;
    margin: auto; /* Center the wrapper */
  }

  /* Ensure the image fills the width of its container */
  .hotspots--figure {
    width: 100%;
  }

  /* Basic styling for hotspot indicators */
  .hotspot {
    position: absolute; /* Position absolutely within the relative wrapper */
    display: block; /* Ensure each hotspot is a block-level element */
  }

  /* Styling for the clickable area of the hotspot */
  .hotspot--cta {
    position: relative;
    display: inline-block; /* Make the hotspot clickable area inline-block */
    width: 25px;
    height: 25px;
    border-radius: 50%; /* Circular hotspots */
    background: {{ section.settings.hotspot_color }}; /* Use the hotspot color setting */
    transition: all 0.4s cubic-bezier(0.8, 0, 0.2, 1); /* Smooth transition for hover effects */
  }

  /* Inner circle of the hotspot for visual effect */
  .hotspot--cta::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%; /* Circular shape */
    background: {{ section.settings.hotspot_inner }}; /* Inner color from settings */
    z-index: 2; /* Ensure it's above the hotspot background */
    transition: opacity 0.6s; /* Fade effect */
    animation: pulse 1.5s infinite cubic-bezier(0.8, 0, 0.2, 1); /* Pulsing animation */
  }

  /* Hover effects to scale down the hotspot and make the inner circle disappear */
  .hotspot:hover .hotspot--cta {
    transform: scale(0.6); /* Scale down effect */
  }

  .hotspot:hover .hotspot--cta:after {
    opacity: 0; /* Make the inner circle disappear */
  }

  /* Pulsing animation keyframes */
  @keyframes pulse {
    0%, 66%, 100% {
      transform: scale(0.4);
    }
    33% {
      transform: scale(1);
    }
  }

  /* Adjustments for smaller screens */
  @media screen and (max-width: 770px) {
    .hotspot--cta, .hotspot--cta::after {
      width: 12px; /* Smaller hotspots for smaller screens */
      height: 12px;
    }
  }

  /* Tooltip styling for additional information on hover */
  .tooltip {
    visibility: hidden; /* Initially hidden */
    width: 150px; /* Fixed width */
    background-color: #FDF9F7; /* Light background */
    color: #888; /* Grey text */
    text-align: center; /* Centered text */
    border-radius: 6px; /* Rounded corners */
    padding: 5px 0; /* Padding for text */
    position: absolute; /* Positioned absolutely within the hotspot */
    z-index: 2; /* Ensure it's above other elements */
    bottom: 125%; /* Position above the hotspot */
    left: 50%; /* Center horizontally */
    margin-left: -75px; /* Offset to truly center */
    opacity: 0; /* Start with it transparent */
    transition: opacity 0.3s; /* Fade in effect */
    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px; /* Subtle shadow for depth */
    font-style: italic; /* Italic text for style */
    text-decoration: underline; /* Underlined text */
    text-underline-offset: 2px; /* Adjust underline position */
  }

  /* Show tooltip on hover */
  .link-hotspot:hover .tooltip, .hotspot:hover .tooltip {
    visibility: visible; /* Make the tooltip visible */
    opacity: 1; /* Fully opaque */
  }
{%- endstyle -%}
<div
  class="section-{{ section.id }}-width"
>
  <div class="section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }}">
    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <!-- Dynamic content will be loaded here -->
      </div>
    </div>
    <section class="hotspots--wrapper">
      <img
        src="{{ section.settings.image }}"
        alt=""
        class="hotspots--figure"
      >

      <!-- Hotspot Trigger -->
      {%- for block in section.blocks -%}
        {% if block.type == 'hotspot' %}
          <!-- Hotspot for Product Info -->
          <div
            class="hotspot product-hotspot"
            style="top: {{ block.settings.top }}%; left: {{ block.settings.left }}%;"
          >
            <span class="hotspot--cta"></span>
            <!-- Hidden Product Info Container -->
            <div class="hotspot--product-info" style="display: none;">
              {% assign product = all_products[block.settings.product] %}
              <img src="{{ product.featured_image | img_url: '600x' }}" alt="{{ product.title }}">
              <h3>{{ product.title }}</h3>
              <a href="{{ product.url }}" class="outline-button">View Product</a>
            </div>
            <div class="tooltip">{{ block.settings.tooltip_text }}</div>
          </div>
        {% elsif block.type == 'link' %}
          <!-- Hotspot to a URL -->
          <div
            class="hotspot link-hotspot"
            style="top: {{ block.settings.top }}%; left: {{ block.settings.left }}%;"
          >
            <a href="{{ block.settings.hotspot-url }}" target="_blank">
              <span class="hotspot--cta"></span>
            </a>
            <div class="tooltip">{{ block.settings.tooltip_text }}</div>
          </div>
        {% endif %}
      {%- endfor -%}
    </section>
  </div>
</div>

<script>
      document.addEventListener('DOMContentLoaded', function() {
    const hotspots = document.querySelectorAll('.product-hotspot');
    const modal = document.querySelector('.modal');
    const modalContentContainer = modal.querySelector('.modal-content');

    hotspots.forEach(hotspot => {
      hotspot.addEventListener('click', function() {
        const productInfo = this.querySelector('.hotspot--product-info').innerHTML;
        const closeButtonHtml = '<div class="modal-close-text">Close</div>'; // Close button HTML
        modalContentContainer.innerHTML = productInfo + closeButtonHtml; // Insert product info and close button into modal
        modal.style.display = "block"; // Show the modal
        setTimeout(() => modal.classList.add('fade-in'), 10); // Add class to start fade-in animation
      });
    });

    // Close the modal if the user clicks outside of it
    window.addEventListener('click', function(event) {
      if (event.target == modal || event.target.classList.contains('modal-close-text')) {
        modal.classList.remove('fade-in'); // Start fade-out animation
        setTimeout(() => modal.style.display = "none", 500); // Delay hiding the modal to allow fade-out to complete
      }
    });
  });
</script>
