{% schema %}
{
  "name": "Hotspot Image",
  "settings": [
    {
      "type": "text",
      "id": "image",
      "label": "Image URL"
    },
    {
      "type": "color",
      "id": "hotspot_color",
      "label": "Hotspot Color",
      "default": "#F47722"
    },
    {
      "type": "color",
      "id": "hotspot_inner",
      "label": "Hotspot Inner Color",
      "default": "#FFF"
    },
    {
      "type": "range",
      "id": "width",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "Width",
      "default": 95
    }
  ],
  "blocks": [
    {
      "type": "hotspot",
      "name": "Hotspot",
      "settings": [
        {
      "type": "product",
      "id": "product",
      "label": "Select a product",
      "info": "Choose a product to display in this section."
    },
        {
  "type": "text",
  "id": "tooltip_text",
  "label": "Hover Text",
  "default": "Hover Text Here"
},
        {
          "type": "range",
          "id": "top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Top",
          "default": 50
        },
        {
          "type": "range",
          "id": "left",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Left",
          "default": 50
        }
      ]
    },
    {
      "type": "link",
      "name": "Link",
      "settings": [
        {
      "type": "url",
      "id": "hotspot-url",
      "label": "Hotspot Link"
      },
        {
  "type": "text",
  "id": "tooltip_text",
  "label": "Hover Text",
  "default": "Hover Text Here"
},
        {
          "type": "range",
          "id": "top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Top",
          "default": 50
        },
        {
          "type": "range",
          "id": "left",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Left",
          "default": 50
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with Hotspots",
      "category": "Image with hotspots"
    }
  ]
}
{% endschema %}

{%- style -%}
  /* Section width and margin settings */
  .section-{{ section.id }}-width {
    width: 100%; /* Full width to ensure it spans the entire width of its container */
    padding: {{ 100 | minus:section.settings.width | times:1.5}}px; /* Dynamic padding based on section width setting */
    margin:auto; /* Center the section horizontally */
  }

  /* Adjust section width on screens wider than 750px */
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-width {
      width: {{ section.settings.width }}%; /* Set width as specified in section settings */
      margin:auto; /* Keep the section centered */
    }
  }

  /* Wrapper for hotspot elements, positioned relative to its parent */
  .hotspots--wrapper {
    position: relative;
    margin: auto; /* Center the wrapper */
  }

  /* Ensures the image fills its container */
  .hotspots--figure {
    width: 100%;
  }

  /* Styling for individual hotspots */
  .hotspot {
    position: absolute; /* Positioned absolutely within its parent .hotspots--wrapper */
    display: block;
  }

  /* Clickable area within a hotspot */
  .hotspot--cta {
    position: relative;
    float: right; /* Align to the right within its container */
    display: inline-block; /* Allows setting width and height */
    width: 25px; /* Fixed width */
    height: 25px; /* Fixed height */
    border-radius: 50%; /* Circular shape */
    background: {{section.settings.hotspot_color}}; /* Background color from settings */
    transition: all cubic-bezier(0.8, 0, 0.2, 1) 0.4s; /* Smooth transition for hover effects */
  }

  /* Inner circle of the hotspot for additional visual effect */
  .hotspot--cta::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto; /* Center within the .hotspot--cta */
    width: 10px; /* Fixed width */
    height: 10px; /* Fixed height */
    border-radius: 50%; /* Circular shape */
    background: {{section.settings.hotspot_inner}}; /* Inner color from settings */
    z-index: 2; /* Ensure it's above the hotspot background */
    transition: opacity 0.6s; /* Fade effect for hover */
    animation: pulse 1.5s cubic-bezier(0.8, 0, 0.2, 1) 0s infinite; /* Pulsing animation */
  }

  /* Hover effects for the hotspot */
  .hotspot:hover .hotspot--cta {
    transform: scale(0.6); /* Scale down effect */
    cursor:pointer; /* Change cursor to pointer to indicate clickability */
  }

  .hotspot:hover .hotspot--cta:after {
    opacity: 0; /* Fade out the inner circle on hover */
    cursor:pointer;
  }

  /* Keyframes for the pulsing animation of the hotspot */
  @keyframes pulse {
    0%, 66%, 100% {
      transform: scale(0.4); /* Start, midpoint, and end at smaller size */
    }
    33% {
      transform: scale(1); /* Scale up at the third */
    }
  }

  /* Adjustments for smaller screens */
  @media screen and (max-width: 770px) {
    .hotspot--cta, .hotspot--cta::after {
      width: 12px; /* Smaller size for smaller screens */
      height: 12px;
    }
    .hotspot:hover .hotspot--cta {
      transform: scale(0.8); /* Less scale down effect */
      background: {{section.settings.hotspot_color}}; /* Ensure background color is visible */
    }
  }

  /* Dynamic positioning for hotspots based on settings */
  {%- for block in section.blocks -%}
    {%- assign hotspot_position = '#hotspot-' | append: block.id -%}
    {{ hotspot_position }}{
      top: {{ block.settings.top }}%;
      left: {{ block.settings.left }}%;
    }
  {%- endfor -%}

  /* Styling for the popup that appears when a hotspot is clicked */
  .hotspot--popup {
    display: none; /* Hidden by default */
    position: absolute; /* Positioned absolutely within its parent */
    background-color: white; /* Background color */
    padding: 10px; /* Padding around content */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Shadow for depth */
    z-index: 10; /* Ensure it's above other content */
    width:400px; /* Fixed width */
    margin-bottom:100px!important; /* Ensure it doesn't overlap other content */
  }

  /* Animation for fading in the popup */
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  .fade-in {
    animation: fadeIn 0.5s ease-out forwards; /* Apply the fadeIn animation */
  }

  /* Styling for the modal background */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed position */
    z-index: 100; /* High z-index to ensure it's on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Allow scrolling if needed */
    background-color: rgba(0,0,0,0.4); /* Semi-transparent background */
    opacity: 0;
    visibility: hidden; /* Initially not visible */
    transition: opacity 0.5s, visibility 0.5s; /* Smooth transition for showing/hiding */
  }

  /* Styling for the content within the modal */
  .modal-content {
    background-color: #fefefe; /* White background */
    margin: 5% auto; /* Centered with margin from top */
    padding: 20px; /* Padding around content */
    border: 1px solid #888; /* Border for definition */
    max-width: 400px; /* Maximum width */
    width: 80%; /* Width relative to parent */
    max-height: 800px; /* Maximum height to ensure it doesn't get too tall */
  }

  /* Styling for images within the modal */
  .modal-content img {
    max-height: 500px; /* Limit image height */
    width: 100%; /* Full width to adapt to container */
  }

  /* Styling for text and links within the modal */
  .modal-content h3, .modal-content a {
    text-align: center; /* Center align content */
    margin-top: 15px; /* Space above each element */
  }

  /* Styling for links within the modal */
  .modal-content a {
    padding: 5px 10px; /* Padding for clickable area */
    border: 1px solid #F47722; /* Border color from settings */
    color: #F47722; /* Text color from settings */
    text-decoration: none; /* No underline */
    text-transform: uppercase; /* Uppercase text for style */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
  }

  /* Hover effect for links */
  .modal-content a:hover {
    background-color: #F47722; /* Background color on hover */
    color: #FFFFFF; /* Text color on hover */
  }

  /* Styling for the close text in the modal */
  .modal-close-text {
    color: #888; /* Grey text for subtlety */
    cursor: pointer; /* Indicates it's clickable */
    text-align: center; /* Center aligned */
    margin-top: 8px; /* Space from content above */
    font-size: 12px; /* Smaller font size */
    text-decoration: underline; /* Underlined to indicate it's clickable */
    text-underline-offset: 2px; /* Offset for the underline */
  }

  /* Styling for the hotspot link */
  .link-hotspot {
    display: block; /* Block display to fill the area */
    position: absolute; /* Positioned absolutely within its parent */
    width: 25px; /* Fixed width */
    height: 25px; /* Fixed height */
    cursor: pointer; /* Indicates it's clickable */
  }

  /* Tooltip styling */
  .tooltip {
    visibility: hidden; /* Hidden by default */
    width: 150px; /* Fixed width */
    background-color: #FDF9F7; /* Light background color */
    color: #888; /* Grey text for readability */
    text-align: center; /* Center aligned text */
    border-radius: 6px; /* Rounded corners */
    padding: 5px 0; /* Padding top and bottom */
    position: absolute; /* Positioned absolutely */
    z-index: 2; /* Ensures it's above other content but below modals/popups */
    bottom: 125%; /* Position above the hotspot */
    left: 50%; /* Center horizontally */
    margin-left: -75px; /* Offset to truly center based on its width */
    opacity: 0; /* Start invisible */
    transition: opacity 0.3s; /* Fade in/out effect */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
    font-style: italic; /* Italic font for style */
    text-decoration: underline; /* Underlined text */
    text-underline-offset: 2px; /* Offset for the underline */
  }

  /* Show tooltip on hover */
  .link-hotspot:hover .tooltip, .hotspot:hover .tooltip {
    visibility: visible; /* Make visible */
    opacity: 1; /* Fully opaque */
  }
{%- endstyle -%}
<div
  class="section-{{ section.id }}-width"
>
  <div class="section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }}">
    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <!-- Dynamic content will be loaded here -->
      </div>
    </div>
    <section class="hotspots--wrapper">
      <img
        src="{{ section.settings.image }}"
        alt=""
        class="hotspots--figure"
      >

      <!-- Hotspot Trigger -->
      {%- for block in section.blocks -%}
        {% if block.type == 'hotspot' %}
          <!-- Hotspot for Product Info -->
          <div
            class="hotspot product-hotspot"
            style="top: {{ block.settings.top }}%; left: {{ block.settings.left }}%;"
          >
            <span class="hotspot--cta"></span>
            <!-- Hidden Product Info Container -->
            <div class="hotspot--product-info" style="display: none;">
              {% assign product = all_products[block.settings.product] %}
              <img src="{{ product.featured_image | img_url: '600x' }}" alt="{{ product.title }}">
              <h3>{{ product.title }}</h3>
              <a href="{{ product.url }}" class="outline-button">View Product</a>
            </div>
            <div class="tooltip">{{ block.settings.tooltip_text }}</div>
          </div>
        {% elsif block.type == 'link' %}
          <!-- Hotspot to a URL -->
          <div
            class="hotspot link-hotspot"
            style="top: {{ block.settings.top }}%; left: {{ block.settings.left }}%;"
          >
            <a href="{{ block.settings.hotspot-url }}" target="_blank">
              <span class="hotspot--cta"></span>
            </a>
            <div class="tooltip">{{ block.settings.tooltip_text }}</div>
          </div>
        {% endif %}
      {%- endfor -%}
    </section>
  </div>
</div>

<script>
      document.addEventListener('DOMContentLoaded', function() {
    const hotspots = document.querySelectorAll('.product-hotspot');
    const modal = document.querySelector('.modal');
    const modalContentContainer = modal.querySelector('.modal-content');

    hotspots.forEach(hotspot => {
      hotspot.addEventListener('click', function() {
        const productInfo = this.querySelector('.hotspot--product-info').innerHTML;
        const closeButtonHtml = '<div class="modal-close-text">Close</div>'; // Close button HTML
        modalContentContainer.innerHTML = productInfo + closeButtonHtml; // Insert product info and close button into modal
        modal.style.display = "block"; // Show the modal
        setTimeout(() => modal.classList.add('fade-in'), 10); // Add class to start fade-in animation
      });
    });

    // Close the modal if the user clicks outside of it
    window.addEventListener('click', function(event) {
      if (event.target == modal || event.target.classList.contains('modal-close-text')) {
        modal.classList.remove('fade-in'); // Start fade-out animation
        setTimeout(() => modal.style.display = "none", 500); // Delay hiding the modal to allow fade-out to complete
      }
    });
  });
</script>
