{% schema %}
  {
    "name": "Hotspot Image",
    "settings": [
      {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-with-text.settings.image.label"
    }
    ],
    "presets": [
    {
      "name": "Hotspot Image",
      "category": "Image with hotspot"
    }
  ]
  }
{% endschema %}


{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}


<div class="section-{{ section.id }}-padding">
  <img src={{ section.settings.image }} usemap="#image-map">

<map name="image-map">
    <area target="_blank" alt="Classic Button Down" title="Classic Button Down" href="https://conigliopalmbeach.myshopify.com/products/b0001" coords="301,959,222,1037,183,1371,167,1392,186,1450,192,1689,165,1731,234,1797,250,1851,231,1956,257,1994,315,1993,347,1936,330,1839,303,1398,344,1011" shape="poly">
</map>
</div>

