{% schema %}
{
  "name": "Hotspot Image",
  "settings": [
    {
    "type": "text",
    "id": "image",
    "label": "Image URL"
  },
    {
    "type": "color",
    "id": "hotspot_color",
    "label": "Hotspot Color",
    "default": "#F47722"
  },
    {
    "type": "color",
    "id": "hotspot_inner",
    "label": "Hotspot Inner Color",
    "default": "#FFF"
  },
    {
    "type": "text",
    "id": "bg",
    "label": "Background Image URL (Optional)"
  }   ,
    {
    "type": "range",
          "id": "bg_opacity",
          "min": 0.1,
          "max": 1,
          "step": 0.1,
          "label": "Opacity",
          "default": 0.5
  }   ,
    {
    "type": "range",
          "id": "margins",
          "min": 0,
          "max": 200,
          "step": 10,
          "unit": "px",
          "label": "Margins",
          "default": 50
  }
  ],
  "blocks": [
    {
      "type": "hotspot",
      "name": "Hotspot",
      "settings": [
        {
          "type": "url",
          "id": "hotspot_url",
          "label": "Link"
        },
        {
          "type": "range",
          "id": "top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Top position",
          "default": 50
        },
        {
          "type": "range",
          "id": "left",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Left position",
          "default": 50
        }
      ]
    }
  ],
  "presets": [
  {
    "name": "Image with Hotspots",
    "category": "Image with hotspots"
  }
]
}
{% endschema %}

{%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: calc({{ section.settings.padding_top }}px * 0.75);
      padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
    }

    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }

    .hotspots--wrapper {
      position: relative;
      margin: auto;
    }

    .hotspots--figure {
      width: 100%;
    }

    .hotspot {
      position: absolute;
      display: block;
    }

    .hotspot--cta {
      position: relative;
      float: right;
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: {{section.settings.hotspot_color}};
      transition: all cubic-bezier(0.8, 0, 0.2, 1) 0.4s;
    }

    .hotspot--cta::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: {{section.settings.hotspot_inner}};
      z-index: 2;
      transition: opacity 0.6s;
      animation: pulse 1.5s cubic-bezier(0.8, 0, 0.2, 1) 0s infinite;
    }

    .hotspot:hover .hotspot--cta {
      transform: scale(0.6);
    }

    .hotspot:hover .hotspot--cta:after {
      opacity: 0;
    }

    @keyframes pulse {
      0% {
        transform: scale(0.4);
      }
      33% {
        transform: scale(1);
      }
      66% {
        transform: scale(0.4);
      }
      100% {
        transform: scale(0.4);
      }
    }

    @media screen and (max-width: 420px) {
      .hotspot--cta {
        width: 20px;
        height: 20px;
      }
      .hotspot--cta::after {
        width: 5px;
        height: 5px;
      }
    }

      {%- for block in section.blocks -%}
        {%- assign hotspot_selector = '#hotspot-' | append: block.id -%}
        {{ hotspot_selector }}{
          top: {{ block.settings.top }}%;
          left: {{ block.settings.left }}%;
        }
      {%- endfor -%}

  .hotspot-background {
    flex: 0 0 auto;
    width: 95%;
    display: flex;
    align-self: center;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
    margin-top: {{ section.settings.margins }}px;
    margin-bottom: {{ section.settings.margins }}px;
    flex-direction: column;
    justify-content: center;

  }
   .hotspot-background::before {
    flex: 0 0 auto;
    width: 95%;
    display: flex;
    align-self: center;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
    margin-top: {{ section.settings.margins }}px;
    margin-bottom: {{ section.settings.margins }}px;
    flex-direction: column;
    justify-content: center;
     background-size: cover;
    background-image: url('{{ section.settings.bg }}');
    opacity:{{ section.settings.bg_opacity }};
  }
{%- endstyle -%}

<div class="hotspot-background">
  <div class="section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }}">
    <div class="page-width">
      <section class="hotspots--wrapper">
        <img
          src="{{ section.settings.image }}"
          alt="Shop Coniglio Palm Beach"
          class="hotspots--figure"
        >

        {%- for block in section.blocks -%}
          <a class="hotspot" id="hotspot-{{ block.id }}" href="{{ block.settings.hotspot_url }}">
            <span class="hotspot--cta"></span>
          </a>
        {%- endfor -%}
      </section>
    </div>
  </div>
</div>
