{% schema %}
{
  "name": "Hotspot Image",
  "settings": [
    {
      "type": "text",
      "id": "image",
      "label": "Image URL"
    },
    {
      "type": "color",
      "id": "hotspot_color",
      "label": "Hotspot Color",
      "default": "#F47722"
    },
    {
      "type": "color",
      "id": "hotspot_inner",
      "label": "Hotspot Inner Color",
      "default": "#FFF"
    },
    {
      "type": "range",
      "id": "width",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "Width",
      "default": 95
    }
  ],
  "blocks": [
    {
      "type": "hotspot",
      "name": "Hotspot",
      "settings": [
        {
      "type": "product",
      "id": "product",
      "label": "Select a product",
      "info": "Choose a product to display in this section."
    },
        {
  "type": "text",
  "id": "tooltip_text",
  "label": "Hover Text",
  "default": "Hover Text Here"
},
        {
          "type": "range",
          "id": "top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Top",
          "default": 50
        },
        {
          "type": "range",
          "id": "left",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Left",
          "default": 50
        }
      ]
    },
    {
      "type": "link",
      "name": "Link",
      "settings": [
        {
      "type": "url",
      "id": "hotspot-url",
      "label": "Hotspot Link"
      },
        {
  "type": "text",
  "id": "tooltip_text",
  "label": "Hover Text",
  "default": "Hover Text Here"
},
        {
          "type": "range",
          "id": "top",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Top",
          "default": 50
        },
        {
          "type": "range",
          "id": "left",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Left",
          "default": 50
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with Hotspots",
      "category": "Image with hotspots"
    }
  ]
}
{% endschema %}

{%- style -%}
  /* General section styling */
  .section-{{ section.id }}-width {
    width: 100%;
    padding: {{ 100 | minus: section.settings.width | times: 1.5 }}px;
    margin: auto;
  }

  /* Adjustments for larger screens */
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-width {
      width: {{ section.settings.width }}%;
      margin: auto;
    }
  }

  /* Wrapper for positioning hotspots relative to the image */
  .hotspots--wrapper {
    position: relative;
    margin: auto;
  }

  /* Ensures the image fills its container */
  .hotspots--figure {
    width: 100%;
  }

  /* Basic styling for hotspots */
  .hotspot {
    position: absolute;
    display: block;
  }

  /* Styling for the clickable hotspot area */
  .hotspot--cta {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: {{ section.settings.hotspot_color }};
    transition: transform 0.4s cubic-bezier(0.8, 0, 0.2, 1);
  }

  /* Inner circle styling for visual effect */
  .hotspot--cta::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Center the circle correctly */
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: {{ section.settings.hotspot_inner }};
    z-index: 2;
    transition: opacity 0.6s;
    animation: pulse 1.5s infinite cubic-bezier(0.8, 0, 0.2, 1);
  }

  /* Hover effects for the hotspot */
  .hotspot:hover .hotspot--cta {
    transform: scale(0.6);
  }

  .hotspot:hover .hotspot--cta:after {
    opacity: 0;
  }

  /* Keyframes for the pulsing animation */
  @keyframes pulse {
    0%, 66%, 100% {
      transform: scale(1);
    }
    33% {
      transform: scale(1.5);
    }
  }

  /* Adjustments for smaller screens */
  @media screen and (max-width: 770px) {
    .hotspot--cta, .hotspot--cta::after {
      width: 12px;
      height: 12px;
    }
  }

  /* Tooltip styling */
  .tooltip {
    visibility: hidden;
    width: 150px;
    background-color: #FDF9F7;
    color: #888;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 2;
    bottom: 125%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    font-style: italic;
    text-decoration: underline;
    text-underline-offset: 2px;
  }

  /* Show the tooltip on hover */
  .link-hotspot:hover .tooltip, .hotspot:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
{%- endstyle -%}
<div
  class="section-{{ section.id }}-width"
>
  <div class="section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }}">
    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <!-- Dynamic content will be loaded here -->
      </div>
    </div>
    <section class="hotspots--wrapper">
      <img
        src="{{ section.settings.image }}"
        alt=""
        class="hotspots--figure"
      >

      <!-- Hotspot Trigger -->
      {%- for block in section.blocks -%}
        {% if block.type == 'hotspot' %}
          <!-- Hotspot for Product Info -->
          <div
            class="hotspot product-hotspot"
            style="top: {{ block.settings.top }}%; left: {{ block.settings.left }}%;"
          >
            <span class="hotspot--cta"></span>
            <!-- Hidden Product Info Container -->
            <div class="hotspot--product-info" style="display: none;">
              {% assign product = all_products[block.settings.product] %}
              <img src="{{ product.featured_image | img_url: '600x' }}" alt="{{ product.title }}">
              <h3>{{ product.title }}</h3>
              <a href="{{ product.url }}" class="outline-button">View Product</a>
            </div>
            <div class="tooltip">{{ block.settings.tooltip_text }}</div>
          </div>
        {% elsif block.type == 'link' %}
          <!-- Hotspot to a URL -->
          <div
            class="hotspot link-hotspot"
            style="top: {{ block.settings.top }}%; left: {{ block.settings.left }}%;"
          >
            <a href="{{ block.settings.hotspot-url }}" target="_blank">
              <span class="hotspot--cta"></span>
            </a>
            <div class="tooltip">{{ block.settings.tooltip_text }}</div>
          </div>
        {% endif %}
      {%- endfor -%}
    </section>
  </div>
</div>

<script>
      document.addEventListener('DOMContentLoaded', function() {
    const hotspots = document.querySelectorAll('.product-hotspot');
    const modal = document.querySelector('.modal');
    const modalContentContainer = modal.querySelector('.modal-content');

    hotspots.forEach(hotspot => {
      hotspot.addEventListener('click', function() {
        const productInfo = this.querySelector('.hotspot--product-info').innerHTML;
        const closeButtonHtml = '<div class="modal-close-text">Close</div>'; // Close button HTML
        modalContentContainer.innerHTML = productInfo + closeButtonHtml; // Insert product info and close button into modal
        modal.style.display = "block"; // Show the modal
        setTimeout(() => modal.classList.add('fade-in'), 10); // Add class to start fade-in animation
      });
    });

    // Close the modal if the user clicks outside of it
    window.addEventListener('click', function(event) {
      if (event.target == modal || event.target.classList.contains('modal-close-text')) {
        modal.classList.remove('fade-in'); // Start fade-out animation
        setTimeout(() => modal.style.display = "none", 500); // Delay hiding the modal to allow fade-out to complete
      }
    });
  });
</script>
